# Data Preprocessing

cleaning  
reduction  
integration  

for seoul housing data.

## cleaning seoul housing data

there are too many columns that we don't need  
let's cut it down first.

In [21]:
import pandas as pd
import xlrd

In [13]:
seoul_housing_raw = pd.read_csv('seoul_housing.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
seoul_housing_droped = seoul_housing_raw.drop(columns=['실거래가아이디','시군구코드',
                                                       '자치구명','법정동명',
                                                       '업무구분코드','신고일자',
                                                       '계약일자','물건구분코드',
                                                       '물건번호','관리구분코드',
                                                       '관리구분','건물주용도코드',
                                                       '최초접수일'])

,실거래가아이디,지번코드,시군구코드,자치구명,법정동코드,법정동명,신고년도,업무구분코드,업무구분,신고일자,...,물건번호,대지권면적,건물면적,관리구분코드,관리구분,층정보,건물주용도코드,건물주용도,물건금액,최초접수일
0,11110-2006-4-0000076-1,NaN,11110,종로구,1111018000,교북동,2006,4,신고,20060118,...,1,33.100,16.73,NaN,NaN,NaN,1001,단독주택,250000000,20060118.0
1,11110-2006-4-0000077-1,1111013300100300006,11110,종로구,1111013300,익선동,2006,4,신고,20060118,...,1,16.250,84.26,NaN,NaN,14.0,2001,아파트,231984000,20060118.0
2,11110-2006-4-0000078-1,1111013700102120000,11110,종로구,1111013700,낙원동,2006,4,신고,20060118,...,1,6.760,28.69,NaN,NaN,6.0,10202,연수원,97000000,20060118.0
3,11110-2006-4-0000102-1,1111017000100780033,11110,종로구,1111017000,명륜1가,2006,4,신고,20060120,...,1,20.210,37.29,NaN,NaN,1.0,2003,다세대주택,120000000,20060120.0
4,11110-2006-4-0000061-1,1111018300102930052,11110,종로구,1111018300,평창동,2006,4,신고,20060116,...,1,26.046,53.20,NaN,NaN,4.0,2003,다세대주택,160000000,20060116.0
5,11110-2006-4-0000070-1,1111017000100050108,11110,종로구,1111017000,명륜1가,2006,4,신고,20060116,...,1,21.160,54.22,NaN,NaN,1.0,2003,다세대주택,80000000,20060116.0
6,11110-2006-4-0000313-1,1111012400100580000,11110,종로구,1111012400,수송동,2006,4,신고,20060207,...,1,6.830,35.22,NaN,NaN,9.0,10202,연수원,135000000,20060207.0
7,11110-2006-4-0000317-1,1111013300100300006,11110,종로구,1111013300,익선동,2006,4,신고,20060207,...,1,15.080,78.23,NaN,NaN,15.0,2001,아파트,215352000,20060207.0
8,11110-2006-4-0000318-1,1111013300100300006,11110,종로구,1111013300,익선동,2006,4,신고,20060207,...,1,16.250,84.26,NaN,NaN,6.0,2001,아파트,231984000,20060207.0
9,11110-2006-4-0000142-1,1111018100102100338,11110,종로구,1111018100,행촌동,2006,4,신고,20060125,...,1,20.240,59.75,NaN,NaN,1.0,2003,다세대주택,90000000,20060125.0
10,11110-2006-4-0000190-1,1111011800100750000,11110,종로구,1111011800,내수동,2006,4,신고,20060127,...,1,5.530,37.56,NaN,NaN,15.0,10202,연수원,160000000,20060127.0
11,11110-2006-4-0000219-1,1111011800100750000,11110,종로구,1111011800,내수동,2006,4,신고,20060201,...,1,5.230,42.39,NaN,NaN,10.0,10202,연수원,145000000,20060201.0
12,11110-2006-4-0000224-1,NaN,11110,종로구,1111016900,혜화동,2006,4,신고,20060201,...,1,155.400,224.79,NaN,NaN,NaN,1001,단독주택,710000000,20060201.0
13,11110-2006-4-0000227-1,1111018700100820000,11110,종로구,1111018700,무악동,2006,4,신고,20060201,...,1,45.510,84.92,NaN,NaN,20.0,2001,아파트,425000000,20060201.0
14,11110-2006-4-0000242-1,1111011800100740000,11110,종로구,1111011800,내수동,2006,4,신고,20060202,...,1,5.430,32.01,NaN,NaN,14.0,10202,연수원,103000000,20060202.0
15,11110-2006-4-0000248-1,1111011800100740000,11110,종로구,1111011800,내수동,2006,4,신고,20060202,...,1,9.600,56.56,NaN,NaN,8.0,10202,연수원,280000000,20060202.0
16,11110-2006-4-0000250-1,NaN,11110,종로구,1111017700,평동,2006,4,신고,20060202,...,1,56.200,19.83,NaN,NaN,NaN,1001,단독주택,395000000,20060202.0
17,11110-2006-4-0000251-1,1111010900100670000,11110,종로구,1111010900,누상동,2006,4,신고,20060202,...,1,29.130,71.80,NaN,NaN,4.0,2003,다세대주택,170000000,20060202.0
18,11110-2006-4-0000256-1,1111010900101220001,11110,종로구,1111010900,누상동,2006,4,신고,20060202,...,1,7.700,59.60,NaN,NaN,3.0,2003,다세대주택,105000000,20060202.0
19,11110-2006-4-0000261-1,1111018600102540000,11110,종로구,1111018600,신영동,2006,4,신고,20060202,...,1,25.540,59.22,NaN,NaN,9.0,2001,아파트,160000000,20060202.0

In [15]:
seoul_housing_droped.head(5)

,지번코드,법정동코드,신고년도,업무구분,계약 종료일,물건구분,대지권면적,건물면적,층정보,건물주용도,물건금액
0,NaN,1111018000,2006,신고,20060228.0,단독주택,33.100,16.73,NaN,단독주택,250000000
1,1111013300100300006,1111013300,2006,신고,20060210.0,공동주택,16.250,84.26,14.0,아파트,231984000
2,1111013700102120000,1111013700,2006,신고,20060118.0,기타,6.760,28.69,6.0,연수원,97000000
3,1111017000100780033,1111017000,2006,신고,20060120.0,공동주택,20.210,37.29,1.0,다세대주택,120000000
4,1111018300102930052,1111018300,2006,신고,20060210.0,공동주택,26.046,53.20,4.0,다세대주택,160000000

In [22]:
seoul_other_features = pd.read_excel('seoul_other_features.xlsx', 'Sheet1', index_col=None)

In [24]:
seoul_other_features.to_csv('seoul_other_features.csv')

In [25]:
seoul_other_features

,행정구역 코드,행정기관 코드,법정동 코드,랜드마크,영화관,쇼핑센터,대형마트,백화점,지하철,차선수,순환도로,한강,공원,산,학교,교육특구,대학병원
0,1121052,1162052500,1162010100,0,0,0,0,1,0,8,0,0,1,0,3,0,0
1,1121054,1162054500,1162010100,0,0,0,0,0,0,8,0,0,0,0,1,0,0
2,1121079,1162056500,1162010100,0,0,0,1,0,0,8,0,0,2,0,4,0,0
3,1121057,1162057500,1162010100,0,0,0,1,0,2,10,0,0,1,0,4,0,0
4,1121058,1162058500,1162010100,0,0,0,0,0,1,10,1,0,1,1,2,0,0
5,1121080,1162059500,1162010100,0,1,0,1,0,2,8,1,0,1,1,8,0,0
6,1121078,1162060500,1162010100,0,0,0,2,0,1,10,0,0,1,0,2,0,0
7,1121061,1162061500,1162010100,0,0,0,0,0,1,8,0,0,0,0,1,0,0
8,1121062,1162062500,1162010100,0,0,0,1,0,1,10,1,0,0,1,2,0,0
9,1121063,1162063000,1162010300,0,0,0,0,0,2,10,1,0,1,1,1,0,0
10,1121064,1162064500,1162010200,0,0,0,0,0,1,8,0,0,1,0,1,0,0
11,1121065,1162065500,1162010200,0,0,2,0,0,0,8,0,0,1,0,1,0,0
12,1121066,1162066500,1162010200,0,0,0,2,0,0,4,1,0,0,1,2,0,0
13,1121068,1162068500,1162010200,0,0,1,2,0,1,8,0,0,0,0,1,0,0
14,1121069,1162069500,1162010200,0,1,2,2,0,2,10,1,0,4,2,29,0,0
15,1121071,1162071500,1162010200,0,0,0,3,0,0,4,0,0,3,0,2,0,0
16,1121072,1162072500,1162010200,0,0,1,1,0,1,4,0,0,0,0,1,0,0
17,1121073,1162073500,1162010200,0,0,0,0,0,0,6,1,0,1,1,6,0,0
18,1121082,1162074500,1162010200,0,0,2,1,0,0,4,1,0,1,1,4,0,0
19,1121083,1162076500,1162010200,0,0,0,0,0,0,4,0,0,3,0,8,0,0
20,1121081,1162077500,1162010200,0,0,1,0,0,0,6,0,0,3,0,4,0,0
21,1118051,1154551000,1154510100,0,1,0,0,3,3,10,1,0,0,0,0,0,0
22,1118052,1154561000,1154510200,0,1,0,2,0,1,12,1,0,0,0,4,0,0
23,1118053,1154562000,1154510200,0,0,0,1,0,0,4,0,0,6,0,2,0,0
24,1118054,1154563000,1154510200,0,0,0,0,0,0,4,0,0,4,0,6,0,0
25,1118055,1154564000,1154510200,0,0,0,1,0,0,6,0,0,2,0,1,0,0
26,1118057,1154567000,1154510300,0,0,2,2,0,1,14,1,0,1,0,4,0,0
27,1118058,1154568000,1154510300,0,0,1,0,0,0,6,1,0,1,1,6,0,0
28,1118059,1154569000,1154510300,0,0,2,1,0,0,10,1,0,0,0,5,0,0
29,1118060,1154570000,1154510300,0,0,0,0,0,0,4,0,0,5,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1124069,1171064200,1171010900,0,0,0,0,0,2,8,1,0,1,0,0,0,0
295,1124081,1171064600,1171010800,0,0,0,0,0,2,8,1,0,1,0,2,0,0
296,1124081,1171064600,1171010900,0,0,0,0,0,2,8,1,0,1,0,3,0,0
297,1124082,1171064700,1171010900,0,0,0,0,0,2,8,1,0,3,0,3,0,0
298,1124082,1171064700,1171011300,0,0,0,0,0,0,6,0,0,1,0,3,0,0
299,1124071,1171065000,1171010100,0,0,0,0,0,2,10,1,1,1,0,1,3,0
300,1124079,1171067000,1171010100,4,0,0,0,0,2,10,1,2,1,0,5,0,0
301,1124080,1171068000,1171010100,5,0,0,1,1,2,10,1,2,3,0,3,0,0
302,1124075,1171069000,1171010200,0,0,0,0,0,2,10,1,2,2,0,2,0,0
303,1124077,1171071000,1171010200,5,1,1,1,1,2,10,1,2,1,0,1,0,0
304,1124078,1171072000,1171010100,0,0,0,0,0,2,10,0,2,2,0,2,3,0
305,1125051,1174051500,1174010300,0,0,0,0,0,0,8,1,2,4,0,4,0,0
306,1125051,1174051500,1174011000,0,0,0,0,0,0,8,1,2,4,0,4,0,0
307,1125052,1174052000,1174010300,0,0,0,0,0,1,8,1,1,1,0,7,0,1
308,1125053,1174053000,1174010100,0,0,0,1,0,1,6,0,1,0,0,1,0,0
309,1125054,1174054000,1174010100,0,0,0,0,0,1,4,0,1,3,0,2,0,0
310,1125055,1174055000,1174010200,0,0,0,0,0,1,6,0,2,5,1,5,0,0
311,1125056,1174056000,1174010200,0,0,0,0,0,1,4,0,2,3,0,3,0,0
312,1125072,1174057000,1174010700,0,0,0,0,0,0,4,0,1,0,0,1,0,0
313,1125058,1174058000,1174010700,0,0,0,0,0,1,4,1,2,2,0,2,0,0
314,1125059,1174059000,1174010700,0,0,0,0,0,0,6,1,2,2,0,3,0,0
315,1125061,1174060000,1174010900,0,1,0,1,0,1,4,0,0,0,0,4,0,0
316,1125073,1174061000,1174010900,0,0,1,1,1,2,4,1,2,2,0,2,0,0
317,1125063,1174062000,1174010900,0,0,0,0,0,1,8,0,1,0,0,1,0,0
318,1125065,1174064000,1174010800,0,1,0,0,0,1,10,0,1,0,0,3,0,0
319,1125066,1174065000,1174010800,0,1,0,0,0,2,10,0,1,0,0,0,0,0
320,1125067,1174066000,1174010800,0,0,0,0,0,0,10,0,0,0,0,0,0,0
321,1125074,1174068500,1174010500,0,0,0,0,0,1,10,0,0,2,0,4,0,1
322,1125070,1174069000,1174010600,0,0,0,0,0,1,10,0,0,0,0,4,0,0
323,1125071,1174070000,1174010600,0,0,0,0,0,1,10,0,0,1,0,5,0,0

In [72]:
def integration_housing_with_features(shd, sof):
    itg = shd
    itg_headers = ['지번코드', '법정동코드', '신고년도',
                   '업무구문', '계약 종료일', '물건구분',
                   '대지권면적', '건물면적', '층정보',
                   '건물주용도', '물건금액', '랜드마크', 
                   '영화관', '쇼핑센터', '대형마트',
                   '백화점', '지하철', '차선수',
                   '순환도로', '한강', '공원',
                   '산', '학교', '교육특구', '대학병원']
    sof_group = sof.groupby(['법정동 코드'])
    tsof_group = pd.DataFrame({'랜드마크' : sof_group['랜드마크'].mean(),
                              '영화관' : sof_group['영화관'].mean(),
                             '쇼핑센터' : sof_group['쇼핑센터'].mean(),
                             '대형마트' : sof_group['대형마트'].mean(),
                             '백화점' : sof_group['백화점'].mean(),
                             '지하철' : sof_group['지하철'].mean(),
                             '차선수' : sof_group['차선수'].mean(),
                             '순환도로' : sof_group['순환도로'].mean(),
                             '한강' : sof_group['한강'].mean(),
                             '공원' : sof_group['공원'].mean(),
                             '산' : sof_group['산'].mean(),
                             '학교' : sof_group['학교'].mean(),
                             '교육특구' : sof_group['교육특구'].mean(),
                             '대학병원' : sof_group['대학병원'].mean()}).reset_index()
#    print(tsof_group)
    for code in sof['법정동 코드']:
        tshd = shd[shd['법정동코드'] == code]
        # print(shd[shd['법정동코드'] == code])
        #print("code : ", code)
        tsof = tsof_group[tsof_group['법정동 코드'] == code]
        tl = pd.merge(tshd, tsof.rename(columns={'법정동 코드':'법정동코드'}), on='법정동코드', how='left')
#        tshd = tshd + tsof
        #print(tl.head(5))
        #for i in range(len(tsof)):
        #    print(tsof.iloc[i])
        # sof_group = sof.groupby(['법정동 코드'])
        #print(tsof_group[tsof_group['법정동 코드'] == code])
        #break
    return itg
seoul_housing_integrated = integration_housing_with_features(seoul_housing_droped, seoul_other_features)

In [73]:
print(seoul_housing_integrated.head(10))

                  지번코드       법정동코드  신고년도 업무구분      계약 종료일  물건구분   대지권면적  \
0                  NaN  1111018000  2006   신고  20060228.0  단독주택  33.100
1  1111013300100300006  1111013300  2006   신고  20060210.0  공동주택  16.250
2  1111013700102120000  1111013700  2006   신고  20060118.0    기타   6.760
3  1111017000100780033  1111017000  2006   신고  20060120.0  공동주택  20.210
4  1111018300102930052  1111018300  2006   신고  20060210.0  공동주택  26.046
5  1111017000100050108  1111017000  2006   신고  20060215.0  공동주택  21.160
6  1111012400100580000  1111012400  2006   신고  20060210.0    기타   6.830
7  1111013300100300006  1111013300  2006   신고  20060218.0  공동주택  15.080
8  1111013300100300006  1111013300  2006   신고  20060208.0  공동주택  16.250
9  1111018100102100338  1111018100  2006   신고  20060215.0  공동주택  20.240

    건물면적   층정보  건물주용도       물건금액
0  16.73   NaN   단독주택  250000000
1  84.26  14.0    아파트  231984000
2  28.69   6.0    연수원   97000000
3  37.29   1.0  다세대주택  120000000
4  53.20   4.0  다세대주택  160000000
5  54.22   1.0  다세대주택   80000000
6  35.22   9.0    연수원  135000000
7  78.23  15.0    아파트  215352000
8  84.26   6.0    아파트  231984000
9  59.75   1.0  다세대주택   90000000

In [74]:
seoul_housing_integrated.to_csv('seoul_housing_integrated.csv')

## Deprecated code

In [3]:
import pandas as pd

f = pd.read_csv('seoul_housing.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
f.columns

Index(['실거래가아이디', '지번코드', '시군구코드', '자치구명', '법정동코드', '법정동명', '신고년도', '업무구분코드',
       '업무구분', '신고일자', '계약일자', '계약 종료일', '물건구분코드', '물건구분', '물건번호', '대지권면적',
       '건물면적', '관리구분코드', '관리구분', '층정보', '건물주용도코드', '건물주용도', '물건금액', '최초접수일'],
      dtype='object')

In [5]:
ff = f.groupby(['지번코드'])

In [6]:
data = f.dropna(axis=0)

In [7]:
len(data)

1531545

In [8]:
dd= data.drop_duplicates('지번코드')

In [9]:
len(dd)

107214

In [10]:
f.sort_values(by='지번코드', ascending=False).reset_index()

TypeError: '<' not supported between instances of 'str' and 'float'

In [53]:
ff['지번코드'].head(5)

0                          NaN
1          1111013300100300006
2          1111013700102120000
3          1111017000100780033
4          1111018300102930052
5          1111017000100050108
6          1111012400100580000
7          1111013300100300006
8          1111013300100300006
9          1111018100102100338
10         1111011800100750000
11         1111011800100750000
12                         NaN
13         1111018700100820000
14         1111011800100740000
15         1111011800100740000
16                         NaN
17         1111010900100670000
18         1111010900101220001
19         1111018600102540000
20         1111011800100750000
21         1111018300101760000
22         1111013400100890004
23         1111017400107030000
24                         NaN
25         1111017500107160000
26         1111014900101350051
27         1111018700100820000
28         1111017500100760000
29         1111018300101700000
                  ...
2134592            1.12601e+18
2134593            1.12601e+18
2134594            1.12601e+18
2134595            1.12601e+18
2134596            1.12601e+18
2134597            1.12601e+18
2134605            1.12601e+18
2134607            1.12601e+18
2134608            1.12601e+18
2134623            1.17101e+18
2134624            1.12601e+18
2134629            1.12901e+18
2134633            1.12901e+18
2134639            1.13501e+18
2134640            1.13501e+18
2134645            1.15901e+18
2134656            1.13501e+18
2134663            1.17401e+18
2134678            1.13501e+18
2134679            1.13501e+18
2134690            1.14101e+18
2134691            1.14101e+18
2134713            1.13801e+18
2134719            1.13201e+18
2134724            1.13201e+18
2134725            1.11102e+18
2134749            1.16201e+18
2134750            1.16501e+18
2134757            1.13051e+18
2134784            1.15451e+18
Name: 지번코드, Length: 442175, dtype: object

In [43]:
f2 = f.drop(columns=['실거래가아이디','시군구코드','자치구명','법정동명','업무구분코드','신고일자','계약일자','물건구분코드','물건번호','관리구분코드','관리구분','건물주용도코드','최초접수일'])

In [42]:
f2

,지번코드,법정동코드,업무구분,계약 종료일,물건구분,대지권면적,건물면적,층정보,건물주용도,물건금액
0,NaN,1111018000,신고,20060228.0,단독주택,33.1000,16.73,NaN,단독주택,250000000
1,1111013300100300006,1111013300,신고,20060210.0,공동주택,16.2500,84.26,14.0,아파트,231984000
2,1111013700102120000,1111013700,신고,20060118.0,기타,6.7600,28.69,6.0,연수원,97000000
3,1111017000100780033,1111017000,신고,20060120.0,공동주택,20.2100,37.29,1.0,다세대주택,120000000
4,1111018300102930052,1111018300,신고,20060210.0,공동주택,26.0460,53.20,4.0,다세대주택,160000000
5,1111017000100050108,1111017000,신고,20060215.0,공동주택,21.1600,54.22,1.0,다세대주택,80000000
6,1111012400100580000,1111012400,신고,20060210.0,기타,6.8300,35.22,9.0,연수원,135000000
7,1111013300100300006,1111013300,신고,20060218.0,공동주택,15.0800,78.23,15.0,아파트,215352000
8,1111013300100300006,1111013300,신고,20060208.0,공동주택,16.2500,84.26,6.0,아파트,231984000
9,1111018100102100338,1111018100,신고,20060215.0,공동주택,20.2400,59.75,1.0,다세대주택,90000000
10,1111011800100750000,1111011800,신고,20060127.0,기타,5.5300,37.56,15.0,연수원,160000000
11,1111011800100750000,1111011800,신고,20060131.0,기타,5.2300,42.39,10.0,연수원,145000000
12,NaN,1111016900,신고,20060131.0,단독주택,155.4000,224.79,NaN,단독주택,710000000
13,1111018700100820000,1111018700,신고,20060228.0,공동주택,45.5100,84.92,20.0,아파트,425000000
14,1111011800100740000,1111011800,신고,20060201.0,기타,5.4300,32.01,14.0,연수원,103000000
15,1111011800100740000,1111011800,신고,20060215.0,기타,9.6000,56.56,8.0,연수원,280000000
16,NaN,1111017700,신고,20060302.0,단독주택,56.2000,19.83,NaN,단독주택,395000000
17,1111010900100670000,1111010900,신고,20060204.0,공동주택,29.1300,71.80,4.0,다세대주택,170000000
18,1111010900101220001,1111010900,신고,20060219.0,공동주택,7.7000,59.60,3.0,다세대주택,105000000
19,1111018600102540000,1111018600,신고,20060328.0,공동주택,25.5400,59.22,9.0,아파트,160000000
20,1111011800100750000,1111011800,신고,20060203.0,기타,5.1200,37.56,14.0,연수원,138160000
21,1111018300101760000,1111018300,신고,20060417.0,공동주택,105.1200,84.96,3.0,연립주택,275000000
22,1111013400100890004,1111013400,신고,20060126.0,기타,8.5900,34.47,6.0,연수원,147000000
23,1111017400107030000,1111017400,신고,20060215.0,공동주택,42.7039,79.87,12.0,아파트,192000000
24,NaN,1111016700,신고,20060304.0,단독주택,79.3000,42.98,NaN,단독주택,216000000
25,1111017500107160000,1111017500,신고,20060219.0,공동주택,28.0000,60.15,4.0,다세대주택,112500000
26,1111014900101350051,1111014900,신고,20060317.0,공동주택,39.4000,82.48,3.0,다세대주택,225000000
27,1111018700100820000,1111018700,신고,20060224.0,공동주택,34.9300,60.00,3.0,아파트,240000000
28,1111017500100760000,1111017500,신고,20060221.0,기타,6.1900,39.60,4.0,연수원,120000000
29,1111018300101700000,1111018300,신고,20060224.0,공동주택,106.8300,84.95,3.0,연립주택,203000000
...,...,...,...,...,...,...,...,...,...,...
2134760,1.11101e+18,1111011800,신고,20190131.0,기타,10.3500,56.48,7.0,오피스텔,469286475
2134761,1.11101e+18,1111011800,신고,20190131.0,기타,14.4000,71.01,10.0,오피스텔,549993291
2134762,NaN,1126010300,신고,20190430.0,단독주택,103.8000,63.96,NaN,단독주택,500000000
2134763,NaN,1132010700,신고,20190402.0,단독주택,164.3000,158.22,NaN,다가구주택,900000000
2134764,NaN,1168011400,신고,20190410.0,단독주택,203.8000,257.31,NaN,다가구주택,2300000000
2134765,NaN,1156013300,신고,20190320.0,단독주택,224.1000,327.96,NaN,단독주택,1360000000
2134766,NaN,1111016800,신고,20190110.0,단독주택,79.3000,69.26,NaN,단독주택,671758000
2134767,NaN,1159010500,신고,20190415.0,단독주택,93.0000,110.23,NaN,다가구주택,1000000000
2134768,NaN,1162010100,신고,20190415.0,단독주택,178.0000,368.83,NaN,다가구주택,1076900000
2134769,NaN,1154510300,신고,20190430.0,단독주택,225.7000,418.86,NaN,다가구주택,1080000000
2134770,NaN,1154510200,신고,20190415.0,단독주택,168.0000,129.58,NaN,단독주택,500000000
2134771,NaN,1156013200,신고,20190228.0,단독주택,119.0000,251.84,NaN,단독주택,1500000000
2134772,NaN,1159010200,신고,20190226.0,단독주택,185.0000,405.84,NaN,단독주택,1300000000
2134773,NaN,1130510100,신고,20190328.0,단독주택,30.0000,25.92,NaN,단독주택,240000000
2134774,NaN,1111017500,신고,20190415.0,단독주택,76.0000,52.89,NaN,단독주택,309000000
2134775,NaN,1114017100,신고,20190329.0,단독주택,33.1000,58.08,NaN,단독주택,295500000
2134776,NaN,1165011100,신고,20190228.0,단독주택,371.0000,152.10,NaN,단독주택,2375800000
2134777,NaN,1154510300,신고,20190830.0,단독주택,136.7000,184.41,NaN,단독주택,735000000
2134778,1.15451e+18,1154510300,신고,20190530.0,공동주택,40.9900,81.95,2.0,아파트,282500000
2134779,NaN,1114015000,신고,20190430.0,단독주택,77.1000,52.89,NaN,단독주택,1600000000
2134780,NaN,1171011300,신고,20190731.0,단독주택,82.5000,140.46,NaN,다가구주택,730000000
2134781,NaN,1144010100,신고,20190430.0,단독주택,142.1000,236.07,NaN,단독주택,1650000000
2134782,NaN,1132010800,신고,20190625.0,단독주택,155.0000,49.92,NaN,단독주택,520000000
2134783,NaN,1114016500,신고,20190807.0,단독주택,172.0000,391.74,NaN,단독주택,1500000000
2134784,1.15451e+18,1154510100,신고,20190510.0,공동주택,37.7860,50.41,2.0,아파트,155000000
2134785,NaN,1171010600,신고,20190730.0,단독주택,250.4000,539.87,NaN,다가구주택,2500000000
2134786,NaN,1129010100,신고,20190729.0,단독주택,542.0000,142.71,NaN,단독주택,2000000000
2134787,NaN,1156013200,신고,20190418.0,단독주택,79.0000,126.57,NaN,단독주택,410000000
2134788,NaN,1156013300,신고,20190422.0,단독주택,109.0000,128.27,NaN,다가구주택,527000000
2134789,1.12601e+18,1126010600,신고,20190612.0,공동주택,22.8300,59.40,23.0,아파트,277000000

In [ ]:
apart = f2[{''}]

In [37]:
apart = pd.DataFrame({
                    '지번코드' : ff['지번코드'],
                    '법정동코드' : ff['법정동코드'],
                    '법정동명' : ff['법정동명'],
                    '계약종료일' : ff['계약 종료일'],
                    '물건구분' : ff['물건구분'],
                    '대지권면적' : ff['대지권면적'],
                    '건물면적' : ff['건물면적'],
                    '층정보' : ff['층정보'],
                    '건물주용도' : ff['건물주용도'],
                    '물건금액' : ff['물건금액']
                    }).reset_index()

KeyboardInterrupt:

In [ ]:
apart