# Data Preprocessing

cleaning  
reduction  
integration  

for seoul housing data.

## Functions

In [2]:
from sklearn import preprocessing
import pandas as pd
import xlrd

## Merging

Seoul Housing yearly data

In [27]:
ef = pd.read_csv('seoul_apart_2019.csv')

In [29]:
all_files = []
for i in range(2015,2020):
    all_files.append('seoul_apart_'+str(i)+'.csv')
all_seoul_apart = pd.concat([pd.read_csv(f) for f in all_files])

In [85]:
all_seoul_apart.to_csv('seoul_apart.csv')

In [39]:
all_seoul_apart.head(5)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201411,1~10,"59,500",4,1988,언주로
1,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201501,11~20,"60,000",5,1988,언주로
2,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201503,1~10,"65,000",5,1988,언주로
3,서울특별시 강남구 개포동,655-2,655,2,개포2차현대아파트(220),77.75,201503,1~10,"62,500",2,1988,언주로
4,서울특별시 강남구 개포동,658-1,658,1,개포6차우성아파트1동~8동,67.28,201407,21~31,"58,800",4,1987,언주로

In [51]:
areacode = pd.read_csv('https://goo.gl/tM6r3v', sep='\t', dtype={'법정동코드':str})

In [36]:
areacode = areacode[area_code['폐지여부'] == '존재']

        법정동코드           법정동명 폐지여부
0  1100000000          서울특별시   존재
1  1111000000      서울특별시 종로구   존재
2  1111010100  서울특별시 종로구 청운동   존재
3  1111010200  서울특별시 종로구 신교동   존재
4  1111010300  서울특별시 종로구 궁정동   존재

In [37]:
seoul_areacode = area_code[area_code['법정동코드'].str.contains('11\d{8}')]

           법정동코드             법정동명 폐지여부
0     1100000000            서울특별시   존재
1     1111000000        서울특별시 종로구   존재
2     1111010100    서울특별시 종로구 청운동   존재
3     1111010200    서울특별시 종로구 신교동   존재
4     1111010300    서울특별시 종로구 궁정동   존재
5     1111010400    서울특별시 종로구 효자동   존재
6     1111010500    서울특별시 종로구 창성동   존재
7     1111010600    서울특별시 종로구 통의동   존재
8     1111010700    서울특별시 종로구 적선동   존재
9     1111010800    서울특별시 종로구 통인동   존재
10    1111010900    서울특별시 종로구 누상동   존재
11    1111011000    서울특별시 종로구 누하동   존재
12    1111011100    서울특별시 종로구 옥인동   존재
13    1111011200    서울특별시 종로구 체부동   존재
14    1111011300    서울특별시 종로구 필운동   존재
15    1111011400    서울특별시 종로구 내자동   존재
16    1111011500    서울특별시 종로구 사직동   존재
17    1111011600    서울특별시 종로구 도렴동   존재
18    1111011700    서울특별시 종로구 당주동   존재
19    1111011800    서울특별시 종로구 내수동   존재
20    1111011900    서울특별시 종로구 세종로   존재
21    1111012000  서울특별시 종로구 신문로1가   존재
22    1111012100  서울특별시 종로구 신문로2가   존재
23    1111012200    서울특별시 종로구 청진동   존재
24    1111012300    서울특별시 종로구 서린동   존재
25    1111012400    서울특별시 종로구 수송동   존재
26    1111012500    서울특별시 종로구 중학동   존재
27    1111012600   서울특별시 종로구 종로1가   존재
28    1111012700    서울특별시 종로구 공평동   존재
29    1111012800    서울특별시 종로구 관훈동   존재
...          ...              ...  ...
1046  1168011100    서울특별시 강남구 세곡동   존재
1047  1168011200    서울특별시 강남구 자곡동   존재
1048  1168011300    서울특별시 강남구 율현동   존재
1049  1168011400    서울특별시 강남구 일원동   존재
1050  1168011500    서울특별시 강남구 수서동   존재
1053  1168011800    서울특별시 강남구 도곡동   존재
1072  1171000000        서울특별시 송파구   존재
1073  1171010100    서울특별시 송파구 잠실동   존재
1074  1171010200    서울특별시 송파구 신천동   존재
1075  1171010300    서울특별시 송파구 풍납동   존재
1076  1171010400    서울특별시 송파구 송파동   존재
1077  1171010500    서울특별시 송파구 석촌동   존재
1078  1171010600    서울특별시 송파구 삼전동   존재
1079  1171010700    서울특별시 송파구 가락동   존재
1080  1171010800    서울특별시 송파구 문정동   존재
1081  1171010900    서울특별시 송파구 장지동   존재
1083  1171011100    서울특별시 송파구 방이동   존재
1084  1171011200    서울특별시 송파구 오금동   존재
1085  1171011300    서울특별시 송파구 거여동   존재
1086  1171011400    서울특별시 송파구 마천동   존재
1087  1174000000        서울특별시 강동구   존재
1102  1174010100    서울특별시 강동구 명일동   존재
1103  1174010200    서울특별시 강동구 고덕동   존재
1104  1174010300    서울특별시 강동구 상일동   존재
1106  1174010500     서울특별시 강동구 길동   존재
1107  1174010600    서울특별시 강동구 둔촌동   존재
1108  1174010700    서울특별시 강동구 암사동   존재
1109  1174010800    서울특별시 강동구 성내동   존재
1110  1174010900    서울특별시 강동구 천호동   존재
1111  1174011000    서울특별시 강동구 강일동   존재

[493 rows x 3 columns]

In [38]:
seoul_areacode.to_csv('seoul_areacode.csv')

In [41]:
seoul_areacode['법정동명']

0                 서울특별시
1             서울특별시 종로구
2         서울특별시 종로구 청운동
3         서울특별시 종로구 신교동
4         서울특별시 종로구 궁정동
5         서울특별시 종로구 효자동
6         서울특별시 종로구 창성동
7         서울특별시 종로구 통의동
8         서울특별시 종로구 적선동
9         서울특별시 종로구 통인동
10        서울특별시 종로구 누상동
11        서울특별시 종로구 누하동
12        서울특별시 종로구 옥인동
13        서울특별시 종로구 체부동
14        서울특별시 종로구 필운동
15        서울특별시 종로구 내자동
16        서울특별시 종로구 사직동
17        서울특별시 종로구 도렴동
18        서울특별시 종로구 당주동
19        서울특별시 종로구 내수동
20        서울특별시 종로구 세종로
21      서울특별시 종로구 신문로1가
22      서울특별시 종로구 신문로2가
23        서울특별시 종로구 청진동
24        서울특별시 종로구 서린동
25        서울특별시 종로구 수송동
26        서울특별시 종로구 중학동
27       서울특별시 종로구 종로1가
28        서울특별시 종로구 공평동
29        서울특별시 종로구 관훈동
             ...
1046      서울특별시 강남구 세곡동
1047      서울특별시 강남구 자곡동
1048      서울특별시 강남구 율현동
1049      서울특별시 강남구 일원동
1050      서울특별시 강남구 수서동
1053      서울특별시 강남구 도곡동
1072          서울특별시 송파구
1073      서울특별시 송파구 잠실동
1074      서울특별시 송파구 신천동
1075      서울특별시 송파구 풍납동
1076      서울특별시 송파구 송파동
1077      서울특별시 송파구 석촌동
1078      서울특별시 송파구 삼전동
1079      서울특별시 송파구 가락동
1080      서울특별시 송파구 문정동
1081      서울특별시 송파구 장지동
1083      서울특별시 송파구 방이동
1084      서울특별시 송파구 오금동
1085      서울특별시 송파구 거여동
1086      서울특별시 송파구 마천동
1087          서울특별시 강동구
1102      서울특별시 강동구 명일동
1103      서울특별시 강동구 고덕동
1104      서울특별시 강동구 상일동
1106       서울특별시 강동구 길동
1107      서울특별시 강동구 둔촌동
1108      서울특별시 강동구 암사동
1109      서울특별시 강동구 성내동
1110      서울특별시 강동구 천호동
1111      서울특별시 강동구 강일동
Name: 법정동명, Length: 493, dtype: object

In [53]:
areacode

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
5      1111010400         서울특별시 종로구 효자동   존재
6      1111010500         서울특별시 종로구 창성동   존재
7      1111010600         서울특별시 종로구 통의동   존재
8      1111010700         서울특별시 종로구 적선동   존재
9      1111010800         서울특별시 종로구 통인동   존재
10     1111010900         서울특별시 종로구 누상동   존재
11     1111011000         서울특별시 종로구 누하동   존재
12     1111011100         서울특별시 종로구 옥인동   존재
13     1111011200         서울특별시 종로구 체부동   존재
14     1111011300         서울특별시 종로구 필운동   존재
15     1111011400         서울특별시 종로구 내자동   존재
16     1111011500         서울특별시 종로구 사직동   존재
17     1111011600         서울특별시 종로구 도렴동   존재
18     1111011700         서울특별시 종로구 당주동   존재
19     1111011800         서울특별시 종로구 내수동   존재
20     1111011900         서울특별시 종로구 세종로   존재
21     1111012000       서울특별시 종로구 신문로1가   존재
22     1111012100       서울특별시 종로구 신문로2가   존재
23     1111012200         서울특별시 종로구 청진동   존재
24     1111012300         서울특별시 종로구 서린동   존재
25     1111012400         서울특별시 종로구 수송동   존재
26     1111012500         서울특별시 종로구 중학동   존재
27     1111012600        서울특별시 종로구 종로1가   존재
28     1111012700         서울특별시 종로구 공평동   존재
29     1111012800         서울특별시 종로구 관훈동   존재
...           ...                   ...  ...
45927  5013025921  제주특별자치도 서귀포시 성산읍 성산리   존재
45928  5013025922  제주특별자치도 서귀포시 성산읍 오조리   존재
45929  5013025923  제주특별자치도 서귀포시 성산읍 시흥리   존재
45930  5013025924  제주특별자치도 서귀포시 성산읍 고성리   존재
45931  5013025925  제주특별자치도 서귀포시 성산읍 수산리   존재
45932  5013025926  제주특별자치도 서귀포시 성산읍 온평리   존재
45933  5013025927  제주특별자치도 서귀포시 성산읍 신산리   존재
45934  5013025928  제주특별자치도 서귀포시 성산읍 삼달리   존재
45935  5013025929  제주특별자치도 서귀포시 성산읍 신풍리   존재
45936  5013025930  제주특별자치도 서귀포시 성산읍 신천리   존재
45937  5013025931  제주특별자치도 서귀포시 성산읍 난산리   존재
45938  5013031000      제주특별자치도 서귀포시 안덕면   존재
45939  5013031001  제주특별자치도 서귀포시 안덕면 대평리   존재
45940  5013031021  제주특별자치도 서귀포시 안덕면 화순리   존재
45941  5013031022  제주특별자치도 서귀포시 안덕면 창천리   존재
45942  5013031023  제주특별자치도 서귀포시 안덕면 감산리   존재
45943  5013031024  제주특별자치도 서귀포시 안덕면 상창리   존재
45944  5013031025  제주특별자치도 서귀포시 안덕면 사계리   존재
45945  5013031026  제주특별자치도 서귀포시 안덕면 덕수리   존재
45946  5013031027  제주특별자치도 서귀포시 안덕면 서광리   존재
45947  5013031028  제주특별자치도 서귀포시 안덕면 동광리   존재
45948  5013031029  제주특별자치도 서귀포시 안덕면 광평리   존재
45949  5013031030  제주특별자치도 서귀포시 안덕면 상천리   존재
45950  5013032000      제주특별자치도 서귀포시 표선면   존재
45951  5013032021  제주특별자치도 서귀포시 표선면 표선리   존재
45952  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
45953  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
45954  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
45955  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
45956  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[45957 rows x 3 columns]

In [62]:
'''
    for code in sof['법정동 코드']:
        tshd = shd[shd['법정동코드'] == code]
     # print(shd[shd['법정동코드'] == code])
        #print("code : ", code)
        tsof = tsof_group[tsof_group['법정동 코드'] == code]
        tl = pd.merge(tshd, tsof.rename(columns={'법정동 코드':'법정동코드'}), on='법정동코드', how='left')
'''

def merging_areacode(sac, asa):
    sacd = sac.drop(columns=['폐지여부'], axis=1)
    itg = pd.merge(sacd, asa.rename(columns={'시군구':'법정동명'}), on='법정동명', how='right')
    return itg
        
seoul_apart_areacode = merging_areacode(seoul_areacode, all_seoul_apart)

In [66]:
seoul_apart_areacode.to_csv('seoul_apart_areacode.csv', index=False)

## cleaning seoul housing data

there are too many columns that we don't need  
let's cut it down first.

In [67]:
seoul_housing_raw = pd.read_csv('seoul_apart_areacode.csv')

In [68]:
seoul_housing_raw.head(10)

,법정동코드,법정동명,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,84.51,201405,1~10,"62,500",3,2000,자하문로33길
1,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,129.76,201503,11~20,"89,000",1,2000,자하문로33길
2,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,84.51,201507,11~20,"65,000",5,2000,자하문로33길
3,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,129.76,201612,1~10,"87,000",1,2000,자하문로33길
4,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,84.51,201707,11~20,"79,000",5,2000,자하문로33길
5,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,103.67,201709,11~20,"87,000",2,2000,자하문로33길
6,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,84.51,201709,11~20,"75,000",5,2000,NaN
7,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,84.51,201711,21~30,"78,500",4,2000,자하문로33길
8,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,129.76,201712,11~20,"91,000",5,2000,자하문로33길
9,1111010100,서울특별시 종로구 청운동,56-45,56,45,청운현대,129.76,201802,1~10,"94,000",1,2000,자하문로33길

In [69]:
seoul_housing_droped = seoul_housing_raw.drop(columns=['번지', '본번', '부번',
                                                       '계약일', '도로명'])
seoul_housing_droped.head(5)

        법정동코드           법정동명   단지명  전용면적(㎡)    계약년월 거래금액(만원)  층  건축년도
0  1111010100  서울특별시 종로구 청운동  청운현대    84.51  201405   62,500  3  2000
1  1111010100  서울특별시 종로구 청운동  청운현대   129.76  201503   89,000  1  2000
2  1111010100  서울특별시 종로구 청운동  청운현대    84.51  201507   65,000  5  2000
3  1111010100  서울특별시 종로구 청운동  청운현대   129.76  201612   87,000  1  2000
4  1111010100  서울특별시 종로구 청운동  청운현대    84.51  201707   79,000  5  2000

In [83]:
seoul_other_features = pd.read_csv('seoul_other_features.csv')

FileNotFoundError: [Errno 2] File b'seoul_other_features.csv' does not exist: b'seoul_other_features.csv'

In [81]:
def integration_housing_with_features(shd, sof):
    itg_headers = ['법정동코드', '법정동명',
                   '단지면', '전용면적', '계약년월',
                   '거래금액(만원)', '층', '건축년도',
                   '랜드마크', 
                   '영화관', '쇼핑센터', '대형마트',
                   '백화점', '지하철', '차선수',
                   '순환도로', '한강', '공원',
                   '산', '학교', '교육특구', '대학병원']
    sof_group = sof.groupby(['법정동 코드'])
    gsof = pd.DataFrame({'랜드마크' : sof_group['랜드마크'].mean(),
                              '영화관' : sof_group['영화관'].mean(),
                             '쇼핑센터' : sof_group['쇼핑센터'].mean(),
                             '대형마트' : sof_group['대형마트'].mean(),
                             '백화점' : sof_group['백화점'].mean(),
                             '지하철' : sof_group['지하철'].mean(),
                             '차선수' : sof_group['차선수'].mean(),
                             '순환도로' : sof_group['순환도로'].mean(),
                             '한강' : sof_group['한강'].mean(),
                             '공원' : sof_group['공원'].mean(),
                             '산' : sof_group['산'].mean(),
                             '학교' : sof_group['학교'].mean(),
                             '교육특구' : sof_group['교육특구'].mean(),
                             '대학병원' : sof_group['대학병원'].mean()}).reset_index()
#    print(tsof_group)
    itg = pd.merge(shd, gsof.rename(columns={'법정동 코드':'법정동코드'}), on='법정동코드', how='left')
    print(itg)
    return itg
seoul_housing_integrated = integration_housing_with_features(seoul_housing_droped, seoul_other_features)
#print(seoul_other_features)

             법정동코드           법정동명           단지명  전용면적(㎡)    계약년월 거래금액(만원)   층  \
0       1111010100  서울특별시 종로구 청운동          청운현대    84.51  201405   62,500   3
1       1111010100  서울특별시 종로구 청운동          청운현대   129.76  201503   89,000   1
2       1111010100  서울특별시 종로구 청운동          청운현대    84.51  201507   65,000   5
3       1111010100  서울특별시 종로구 청운동          청운현대   129.76  201612   87,000   1
4       1111010100  서울특별시 종로구 청운동          청운현대    84.51  201707   79,000   5
5       1111010100  서울특별시 종로구 청운동          청운현대   103.67  201709   87,000   2
6       1111010100  서울특별시 종로구 청운동          청운현대    84.51  201709   75,000   5
7       1111010100  서울특별시 종로구 청운동          청운현대    84.51  201711   78,500   4
8       1111010100  서울특별시 종로구 청운동          청운현대   129.76  201712   91,000   5
9       1111010100  서울특별시 종로구 청운동          청운현대   129.76  201802   94,000   1
10      1111010100  서울특별시 종로구 청운동          청운현대    84.51  201804   83,000   5
11      1111010100  서울특별시 종로구 청운동          청운현대    78.78  201810   81,500   4
12      1111010200  서울특별시 종로구 신교동      신현(101동)    84.82  201503   48,500   3
13      1111010200  서울특별시 종로구 신교동      신현(101동)    84.82  201709   65,000   3
14      1111010800  서울특별시 종로구 통인동            효자    61.49  201602   22,000   4
15      1111010900  서울특별시 종로구 누상동         청호그린빌    29.76  201801   17,900   4
16      1111010900  서울특별시 종로구 누상동         청호그린빌    29.76  201801   17,900   3
17      1111010900  서울특별시 종로구 누상동         청호그린빌    29.76  201803   17,900   2
18      1111010900  서울특별시 종로구 누상동         청호그린빌    29.76  201803   17,800   4
19      1111011100  서울특별시 종로구 옥인동         세종아파트   118.49  201412   65,000   3
20      1111011100  서울특별시 종로구 옥인동         세종아파트   111.31  201803   79,000   5
21      1111011100  서울특별시 종로구 옥인동         세종아파트   115.92  201810   79,500   4
22      1111011300  서울특별시 종로구 필운동        두레엘리시안    78.42  201406   60,000   7
23      1111011300  서울특별시 종로구 필운동        두레엘리시안    84.74  201409   58,500   3
24      1111011300  서울특별시 종로구 필운동        두레엘리시안    59.85  201502   46,500   7
25      1111011300  서울특별시 종로구 필운동  신동아블루아광화문의 꿈   138.66  201411   84,500  10
26      1111011300  서울특별시 종로구 필운동  신동아블루아광화문의 꿈   138.66  201411   64,000   5
27      1111011300  서울특별시 종로구 필운동  신동아블루아광화문의 꿈   111.97  201502   74,000  11
28      1111011300  서울특별시 종로구 필운동  신동아블루아광화문의 꿈   138.66  201504   81,000   9
29      1111011300  서울특별시 종로구 필운동  신동아블루아광화문의 꿈   108.95  201504   71,000   6
...            ...            ...           ...      ...     ...      ...  ..
480354  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    59.83  201806   57,700  10
480355  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    84.53  201806   65,500  11
480356  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    84.83  201808   68,500   6
480357  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    84.53  201808   66,700   4
480358  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    84.53  201808   67,000   6
480359  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    84.74  201808   68,000  13
480360  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    59.88  201808   60,000   7
480361  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    84.74  201903   61,800   5
480362  1174011000  서울특별시 강동구 강일동     강일리버파크7단지    84.83  201904   64,000  14
480363  1174011000  서울특별시 강동구 강일동     강일리버파크8단지    84.83  201808   66,000   6
480364  1174011000  서울특별시 강동구 강일동     강일리버파크8단지    84.83  201808   65,300   4
480365  1174011000  서울특별시 강동구 강일동     강일리버파크8단지    84.83  201808   68,000  14
480366  1174011000  서울특별시 강동구 강일동     강일리버파크8단지    84.83  201902   67,000   7
480367  1174011000  서울특별시 강동구 강일동     강일리버파크9단지    84.53  201807   67,000   6
480368  1174011000  서울특별시 강동구 강일동     강일리버파크9단지    84.53  201808   67,500   9
480369  1174011000  서울특별시 강동구 강일동     강일리버파크9단지    84.74  201809   75,000  12
480370  1174011000  서울특별시 강동구 강일동     강일리버파크9단지    84.74  201809   75,000  11
480371  1174011000  서울특별시 강동구 강일동     고덕리엔파크1단지    84.83  201808   73,000   4
480372  1174011000  서울특별시 강동구 강일동     고덕리엔파크1단지    84.87  201808   75,000   4
480373  1174011000  서울특별시 강동구 강일동     고덕리엔파크1단지    84.83  201808   72,000   9
480374  1174011000  서울특별시 강동구 강일동     고덕리엔파크1단지    84.87  201809   76,000  13
480375  1174011000  서울특별시 강동구 강일동     고덕리엔파크1단지    59.83  201811   65,000  10
480376  1174011000  서울특별시 강동구 강일동     고덕리엔파크2단지    59.83  201805   59,700  12
480377  1174011000  서울특별시 강동구 강일동     고덕리엔파크2단지    84.83  201807   75,000  12
480378  1174011000  서울특별시 강동구 강일동     고덕리엔파크2단지    59.83  201808   62,900   7
480379  1174011000  서울특별시 강동구 강일동     고덕리엔파크2단지    84.83  201808   77,000  13
480380  1174011000  서울특별시 강동구 강일동     고덕리엔파크2단지    84.98  201808   76,000  10
480381  1174011000  서울특별시 강동구 강일동     고덕리엔파크2단지    84.87  201808   72,000   4
480382  1174011000  서울특별시 강동구 강일동     고덕리엔파크2단지    84.87  201808   75,000  12
480383  1174011000  서울특별시 강동구 강일동     고덕리엔파크2단지    84.83  201811   80,000  12

        건축년도  랜드마크  영화관  ...  백화점  지하철  차선수  순환도로   한강   공원    산   학교  교육특구  \
0       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
1       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
2       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
3       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
4       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
5       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
6       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
7       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
8       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
9       2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
10      2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
11      2000   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
12      2002   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
13      2002   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
14      1999   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
15      1999   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
16      1999   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
17      1999   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
18      1999   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
19      2005   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
20      2005   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
21      2005   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
22      2007   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
23      2007   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
24      2007   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
25      2007   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
26      2007   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
27      2007   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
28      2007   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
29      2007   NaN  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN   NaN
...      ...   ...  ...  ...  ...  ...  ...   ...  ...  ...  ...  ...   ...
480354  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480355  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480356  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480357  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480358  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480359  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480360  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480361  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480362  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480363  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480364  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480365  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480366  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480367  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480368  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480369  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480370  2009   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480371  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480372  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480373  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480374  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480375  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480376  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480377  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480378  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480379  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480380  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480381  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480382  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0
480383  2011   0.0  0.0  ...  0.0  0.0  8.0   1.0  2.0  4.0  0.0  4.0   0.0

        대학병원
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
...      ...
480354   0.0
480355   0.0
480356   0.0
480357   0.0
480358   0.0
480359   0.0
480360   0.0
480361   0.0
480362   0.0
480363   0.0
480364   0.0
480365   0.0
480366   0.0
480367   0.0
480368   0.0
480369   0.0
480370   0.0
480371   0.0
480372   0.0
480373   0.0
480374   0.0
480375   0.0
480376   0.0
480377   0.0
480378   0.0
480379   0.0
480380   0.0
480381   0.0
480382   0.0
480383   0.0

[480384 rows x 22 columns]

In [ ]:
seoul_housing_integrated = seoul_housing_integrated.drop(columns=['단지명', '법정동명'])

In [82]:
seoul_housing_integrated.to_csv('seoul_housing_integrated.csv', index=False)

# Deprecated code

In [5]:
seoul_housing_droped = seoul_housing_raw.drop(columns=['실거래가아이디','시군구코드',
                                                       '자치구명','법정동명',
                                                       '업무구분코드','신고일자',
                                                       '계약일자','물건구분코드',
                                                       '물건번호','관리구분코드',
                                                       '관리구분','건물주용도코드',
                                                       '최초접수일'])

In [15]:
seoul_housing_droped.head(5)

,지번코드,법정동코드,신고년도,업무구분,계약 종료일,물건구분,대지권면적,건물면적,층정보,건물주용도,물건금액
0,NaN,1111018000,2006,신고,20060228.0,단독주택,33.100,16.73,NaN,단독주택,250000000
1,1111013300100300006,1111013300,2006,신고,20060210.0,공동주택,16.250,84.26,14.0,아파트,231984000
2,1111013700102120000,1111013700,2006,신고,20060118.0,기타,6.760,28.69,6.0,연수원,97000000
3,1111017000100780033,1111017000,2006,신고,20060120.0,공동주택,20.210,37.29,1.0,다세대주택,120000000
4,1111018300102930052,1111018300,2006,신고,20060210.0,공동주택,26.046,53.20,4.0,다세대주택,160000000

In [6]:
seoul_other_features = pd.read_excel('seoul_other_features.xlsx', 'Sheet1', index_col=None)

In [24]:
seoul_other_features.to_csv('seoul_other_features.csv')

In [25]:
seoul_other_features

,행정구역 코드,행정기관 코드,법정동 코드,랜드마크,영화관,쇼핑센터,대형마트,백화점,지하철,차선수,순환도로,한강,공원,산,학교,교육특구,대학병원
0,1121052,1162052500,1162010100,0,0,0,0,1,0,8,0,0,1,0,3,0,0
1,1121054,1162054500,1162010100,0,0,0,0,0,0,8,0,0,0,0,1,0,0
2,1121079,1162056500,1162010100,0,0,0,1,0,0,8,0,0,2,0,4,0,0
3,1121057,1162057500,1162010100,0,0,0,1,0,2,10,0,0,1,0,4,0,0
4,1121058,1162058500,1162010100,0,0,0,0,0,1,10,1,0,1,1,2,0,0
5,1121080,1162059500,1162010100,0,1,0,1,0,2,8,1,0,1,1,8,0,0
6,1121078,1162060500,1162010100,0,0,0,2,0,1,10,0,0,1,0,2,0,0
7,1121061,1162061500,1162010100,0,0,0,0,0,1,8,0,0,0,0,1,0,0
8,1121062,1162062500,1162010100,0,0,0,1,0,1,10,1,0,0,1,2,0,0
9,1121063,1162063000,1162010300,0,0,0,0,0,2,10,1,0,1,1,1,0,0
10,1121064,1162064500,1162010200,0,0,0,0,0,1,8,0,0,1,0,1,0,0
11,1121065,1162065500,1162010200,0,0,2,0,0,0,8,0,0,1,0,1,0,0
12,1121066,1162066500,1162010200,0,0,0,2,0,0,4,1,0,0,1,2,0,0
13,1121068,1162068500,1162010200,0,0,1,2,0,1,8,0,0,0,0,1,0,0
14,1121069,1162069500,1162010200,0,1,2,2,0,2,10,1,0,4,2,29,0,0
15,1121071,1162071500,1162010200,0,0,0,3,0,0,4,0,0,3,0,2,0,0
16,1121072,1162072500,1162010200,0,0,1,1,0,1,4,0,0,0,0,1,0,0
17,1121073,1162073500,1162010200,0,0,0,0,0,0,6,1,0,1,1,6,0,0
18,1121082,1162074500,1162010200,0,0,2,1,0,0,4,1,0,1,1,4,0,0
19,1121083,1162076500,1162010200,0,0,0,0,0,0,4,0,0,3,0,8,0,0
20,1121081,1162077500,1162010200,0,0,1,0,0,0,6,0,0,3,0,4,0,0
21,1118051,1154551000,1154510100,0,1,0,0,3,3,10,1,0,0,0,0,0,0
22,1118052,1154561000,1154510200,0,1,0,2,0,1,12,1,0,0,0,4,0,0
23,1118053,1154562000,1154510200,0,0,0,1,0,0,4,0,0,6,0,2,0,0
24,1118054,1154563000,1154510200,0,0,0,0,0,0,4,0,0,4,0,6,0,0
25,1118055,1154564000,1154510200,0,0,0,1,0,0,6,0,0,2,0,1,0,0
26,1118057,1154567000,1154510300,0,0,2,2,0,1,14,1,0,1,0,4,0,0
27,1118058,1154568000,1154510300,0,0,1,0,0,0,6,1,0,1,1,6,0,0
28,1118059,1154569000,1154510300,0,0,2,1,0,0,10,1,0,0,0,5,0,0
29,1118060,1154570000,1154510300,0,0,0,0,0,0,4,0,0,5,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1124069,1171064200,1171010900,0,0,0,0,0,2,8,1,0,1,0,0,0,0
295,1124081,1171064600,1171010800,0,0,0,0,0,2,8,1,0,1,0,2,0,0
296,1124081,1171064600,1171010900,0,0,0,0,0,2,8,1,0,1,0,3,0,0
297,1124082,1171064700,1171010900,0,0,0,0,0,2,8,1,0,3,0,3,0,0
298,1124082,1171064700,1171011300,0,0,0,0,0,0,6,0,0,1,0,3,0,0
299,1124071,1171065000,1171010100,0,0,0,0,0,2,10,1,1,1,0,1,3,0
300,1124079,1171067000,1171010100,4,0,0,0,0,2,10,1,2,1,0,5,0,0
301,1124080,1171068000,1171010100,5,0,0,1,1,2,10,1,2,3,0,3,0,0
302,1124075,1171069000,1171010200,0,0,0,0,0,2,10,1,2,2,0,2,0,0
303,1124077,1171071000,1171010200,5,1,1,1,1,2,10,1,2,1,0,1,0,0
304,1124078,1171072000,1171010100,0,0,0,0,0,2,10,0,2,2,0,2,3,0
305,1125051,1174051500,1174010300,0,0,0,0,0,0,8,1,2,4,0,4,0,0
306,1125051,1174051500,1174011000,0,0,0,0,0,0,8,1,2,4,0,4,0,0
307,1125052,1174052000,1174010300,0,0,0,0,0,1,8,1,1,1,0,7,0,1
308,1125053,1174053000,1174010100,0,0,0,1,0,1,6,0,1,0,0,1,0,0
309,1125054,1174054000,1174010100,0,0,0,0,0,1,4,0,1,3,0,2,0,0
310,1125055,1174055000,1174010200,0,0,0,0,0,1,6,0,2,5,1,5,0,0
311,1125056,1174056000,1174010200,0,0,0,0,0,1,4,0,2,3,0,3,0,0
312,1125072,1174057000,1174010700,0,0,0,0,0,0,4,0,1,0,0,1,0,0
313,1125058,1174058000,1174010700,0,0,0,0,0,1,4,1,2,2,0,2,0,0
314,1125059,1174059000,1174010700,0,0,0,0,0,0,6,1,2,2,0,3,0,0
315,1125061,1174060000,1174010900,0,1,0,1,0,1,4,0,0,0,0,4,0,0
316,1125073,1174061000,1174010900,0,0,1,1,1,2,4,1,2,2,0,2,0,0
317,1125063,1174062000,1174010900,0,0,0,0,0,1,8,0,1,0,0,1,0,0
318,1125065,1174064000,1174010800,0,1,0,0,0,1,10,0,1,0,0,3,0,0
319,1125066,1174065000,1174010800,0,1,0,0,0,2,10,0,1,0,0,0,0,0
320,1125067,1174066000,1174010800,0,0,0,0,0,0,10,0,0,0,0,0,0,0
321,1125074,1174068500,1174010500,0,0,0,0,0,1,10,0,0,2,0,4,0,1
322,1125070,1174069000,1174010600,0,0,0,0,0,1,10,0,0,0,0,4,0,0
323,1125071,1174070000,1174010600,0,0,0,0,0,1,10,0,0,1,0,5,0,0

In [7]:
def integration_housing_with_features(shd, sof):
    itg = shd
    itg_headers = ['지번코드', '법정동코드', '신고년도',
                   '업무구문', '계약 종료일', '물건구분',
                   '대지권면적', '건물면적', '층정보',
                   '건물주용도', '물건금액', '랜드마크', 
                   '영화관', '쇼핑센터', '대형마트',
                   '백화점', '지하철', '차선수',
                   '순환도로', '한강', '공원',
                   '산', '학교', '교육특구', '대학병원']
    sof_group = sof.groupby(['법정동 코드'])
    tsof_group = pd.DataFrame({'랜드마크' : sof_group['랜드마크'].mean(),
                              '영화관' : sof_group['영화관'].mean(),
                             '쇼핑센터' : sof_group['쇼핑센터'].mean(),
                             '대형마트' : sof_group['대형마트'].mean(),
                             '백화점' : sof_group['백화점'].mean(),
                             '지하철' : sof_group['지하철'].mean(),
                             '차선수' : sof_group['차선수'].mean(),
                             '순환도로' : sof_group['순환도로'].mean(),
                             '한강' : sof_group['한강'].mean(),
                             '공원' : sof_group['공원'].mean(),
                             '산' : sof_group['산'].mean(),
                             '학교' : sof_group['학교'].mean(),
                             '교육특구' : sof_group['교육특구'].mean(),
                             '대학병원' : sof_group['대학병원'].mean()}).reset_index()
#    print(tsof_group)
    for code in sof['법정동 코드']:
        tshd = shd[shd['법정동코드'] == code]
        # print(shd[shd['법정동코드'] == code])
        #print("code : ", code)
        tsof = tsof_group[tsof_group['법정동 코드'] == code]
        tl = pd.merge(tshd, tsof.rename(columns={'법정동 코드':'법정동코드'}), on='법정동코드', how='left')
#        tshd = tshd + tsof
        #print(tl.head(5))
        #for i in range(len(tsof)):
        #    print(tsof.iloc[i])
        # sof_group = sof.groupby(['법정동 코드'])
        #print(tsof_group[tsof_group['법정동 코드'] == code])
        #break
    return itg
seoul_housing_integrated = integration_housing_with_features(seoul_housing_droped, seoul_other_features)

In [73]:
print(seoul_housing_integrated.head(10))

                  지번코드       법정동코드  신고년도 업무구분      계약 종료일  물건구분   대지권면적  \
0                  NaN  1111018000  2006   신고  20060228.0  단독주택  33.100
1  1111013300100300006  1111013300  2006   신고  20060210.0  공동주택  16.250
2  1111013700102120000  1111013700  2006   신고  20060118.0    기타   6.760
3  1111017000100780033  1111017000  2006   신고  20060120.0  공동주택  20.210
4  1111018300102930052  1111018300  2006   신고  20060210.0  공동주택  26.046
5  1111017000100050108  1111017000  2006   신고  20060215.0  공동주택  21.160
6  1111012400100580000  1111012400  2006   신고  20060210.0    기타   6.830
7  1111013300100300006  1111013300  2006   신고  20060218.0  공동주택  15.080
8  1111013300100300006  1111013300  2006   신고  20060208.0  공동주택  16.250
9  1111018100102100338  1111018100  2006   신고  20060215.0  공동주택  20.240

    건물면적   층정보  건물주용도       물건금액
0  16.73   NaN   단독주택  250000000
1  84.26  14.0    아파트  231984000
2  28.69   6.0    연수원   97000000
3  37.29   1.0  다세대주택  120000000
4  53.20   4.0  다세대주택  160000000
5  54.22   1.0  다세대주택   80000000
6  35.22   9.0    연수원  135000000
7  78.23  15.0    아파트  215352000
8  84.26   6.0    아파트  231984000
9  59.75   1.0  다세대주택   90000000

In [74]:
seoul_housing_integrated.to_csv('seoul_housing_integrated.csv')

## Normalize

In [8]:
seoul_housing_integrated_drop_all = seoul_housing_integrated.dropna()

In [77]:
seoul_housing_integrated_drop_all.count()

지번코드      1863818
법정동코드     1863818
신고년도      1863818
업무구분      1863818
계약 종료일    1863818
물건구분      1863818
대지권면적     1863818
건물면적      1863818
층정보       1863818
건물주용도     1863818
물건금액      1863818
dtype: int64

In [80]:
# shid_norm = preprocessing.scale(s)
header = seoul_housing_integrated_drop_all.columns

In [9]:
shida = seoul_housing_integrated_drop_all
s_apart = shida[shida['건물주용도'] == '아파트']
print(s_apart.count())

지번코드      1124805
법정동코드     1124805
신고년도      1124805
업무구분      1124805
계약 종료일    1124805
물건구분      1124805
대지권면적     1124805
건물면적      1124805
층정보       1124805
건물주용도     1124805
물건금액      1124805
dtype: int64

In [10]:
sa_drop = s_apart.drop(columns=['물건구분', '업무구분', '건물주용도'], axis=1)

In [14]:
# group_list = ['지번코드', '신고년도', '계약 종료일', '대지권면적', '건물면적', '층정보']
group_list = ['지번코드']
sad_group = sa_drop.groupby(group_list)

In [13]:
sad_g = sa_drop

In [18]:
sadg_report_min = sad_group['신고년도'].min()
sadg_report_min

지번코드
1.1200102000998e+17     2015
1.1350102000531e+17     2015
1.1380102000004e+17     2015
1.1470101001033e+17     2015
1.174010200067e+17      2015
1.11101010010056e+18    2017
1.11101020010006e+18    2017
1.1110109001004e+18     2018
1.11101110010056e+18    2018
1.11101130010174e+18    2017
1.11101130010254e+18    2015
1.11101150010009e+18    2015
1.111011700101e+18      2017
1.11101170010145e+18    2017
1.11101180010071e+18    2015
1.11101180010072e+18    2018
1.11101180010073e+18    2015
1.11101180010095e+18    2015
1.1110118001011e+18     2015
1.11101180010167e+18    2017
1.11101200010238e+18    2017
1.11101240010085e+18    2017
1.1110129001011e+18     2015
1.1110133001001e+18     2015
1.11101330010011e+18    2017
1.11101330010018e+18    2017
1.11101330010055e+18    2017
1.11101570010048e+18    2015
1.11101620010065e+18    2017
1.11101660010195e+18    2015
                        ...
1174010900105660000     2006
1174010900105670000     2006
1174010900105680000     2007
1174010900105700000     2011
1174010900105710000     2017
1174011000100000000     2010
1174011000100020001     2010
1174011000100020002     2010
1174011000103600000     2009
1174011000106650000     2008
1174011000106680000     2008
1174011000106700000     2009
1174011000106730000     2008
1174011000106740000     2008
1174011000106840000     2008
1174011000106860000     2009
1174011000106950000     2008
1174011000106990000     2008
1174011000107010000     2008
1174011000107070000     2011
1174011000107100000     2009
1174011000107170000     2011
1174011000306700000     2017
1174011000906650000     2009
1174011000906680000     2009
1174011000906700000     2009
1174011000906730000     2009
1174011000906740000     2009
1174011000906840000     2009
1174011000907010000     2009
Name: 신고년도, Length: 19144, dtype: int64

In [23]:
sadg_report_min[sad_g['지번코드']]

지번코드
1111013300100300006      2006
1111013300100300006      2006
1111013300100300006      2006
1111018700100820000      2006
1111018600102540000      2006
1111017400107030000      2006
1111018700100820000      2006
1111010100100010000      2006
1111017100102370000      2006
1111017100102370000      2006
1111018300101450005      2006
1111017100100040000      2006
1111016500100090001      2006
1111017400107020000      2006
1111017500107660000      2006
1111017400107020000      2006
1111017400102320000      2006
1111017400102320000      2006
1111017100100040000      2006
1111018300100330001      2006
1111018300100450000      2006
1111017400107020000      2006
1111017400102320000      2006
1111017400100230816      2006
1111017400107020000      2006
1111017000100230000      2006
1111017000100230000      2006
1111017400102320000      2006
1111018700100820000      2006
1111018300105960000      2006
                         ...
1.11101750010002e+18     2015
1.12001150010835e+18     2015
1.12001040010069e+18     2015
1.12301090010366e+18     2015
1.12301090010057e+18     2009
1.141011000100011e+18    2016
1.14101200010369e+18     2016
1.14101180010455e+18     2015
1.14101200010369e+18     2016
1.14101190010481e+18     2015
1.14101200010376e+18     2015
1.14101110010082e+18     2015
1.14101100011009e+18     2015
1.14101200010369e+18     2016
1.14101110010082e+18     2015
1.14101110010331e+18     2015
1.17101080010618e+18     2014
1.1680103001014e+18      2015
1.12301020010255e+18     2015
1.17101130010291e+18     2015
1.13201060010636e+18     2017
1.12301050010025e+18     2016
1.11101620010065e+18     2017
1.1680103001014e+18      2015
1.1680103001014e+18      2015
1.17101070010479e+18     2015
1.16201020001735e+18     2019
1.15451030010796e+18     2015
1.15451010010151e+18     2016
1.12601060010591e+18     2014
Name: 신고년도, Length: 1124805, dtype: int64

In [17]:
sad_g['추정년식'] = sad_g['신고년도'] - sad_g['지번코드']
sad_g.head(10)

,지번코드,법정동코드,신고년도,계약 종료일,대지권면적,건물면적,층정보,물건금액,추정년식
1,1111013300100300006,1111013300,2006,20060210.0,16.2500,84.26,14.0,231984000,2006
7,1111013300100300006,1111013300,2006,20060218.0,15.0800,78.23,15.0,215352000,2006
8,1111013300100300006,1111013300,2006,20060208.0,16.2500,84.26,6.0,231984000,2006
13,1111018700100820000,1111018700,2006,20060228.0,45.5100,84.92,20.0,425000000,2006
19,1111018600102540000,1111018600,2006,20060328.0,25.5400,59.22,9.0,160000000,2006
23,1111017400107030000,1111017400,2006,20060215.0,42.7039,79.87,12.0,192000000,2006
27,1111018700100820000,1111018700,2006,20060224.0,34.9300,60.00,3.0,240000000,2006
31,1111010100100010000,1111010100,2006,20060314.0,136.1700,131.42,2.0,650000000,2006
35,1111017100102370000,1111017100,2006,20060331.0,34.3900,65.78,6.0,310000000,2006
36,1111017100102370000,1111017100,2006,20060331.0,46.3900,88.74,8.0,380000000,2006

## deprecated

In [3]:
import pandas as pd

f = pd.read_csv('seoul_housing.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
f.columns

Index(['실거래가아이디', '지번코드', '시군구코드', '자치구명', '법정동코드', '법정동명', '신고년도', '업무구분코드',
       '업무구분', '신고일자', '계약일자', '계약 종료일', '물건구분코드', '물건구분', '물건번호', '대지권면적',
       '건물면적', '관리구분코드', '관리구분', '층정보', '건물주용도코드', '건물주용도', '물건금액', '최초접수일'],
      dtype='object')

In [5]:
ff = f.groupby(['지번코드'])

In [6]:
data = f.dropna(axis=0)

In [7]:
len(data)

1531545

In [8]:
dd= data.drop_duplicates('지번코드')

In [9]:
len(dd)

107214

In [10]:
f.sort_values(by='지번코드', ascending=False).reset_index()

TypeError: '<' not supported between instances of 'str' and 'float'

In [53]:
ff['지번코드'].head(5)

0                          NaN
1          1111013300100300006
2          1111013700102120000
3          1111017000100780033
4          1111018300102930052
5          1111017000100050108
6          1111012400100580000
7          1111013300100300006
8          1111013300100300006
9          1111018100102100338
10         1111011800100750000
11         1111011800100750000
12                         NaN
13         1111018700100820000
14         1111011800100740000
15         1111011800100740000
16                         NaN
17         1111010900100670000
18         1111010900101220001
19         1111018600102540000
20         1111011800100750000
21         1111018300101760000
22         1111013400100890004
23         1111017400107030000
24                         NaN
25         1111017500107160000
26         1111014900101350051
27         1111018700100820000
28         1111017500100760000
29         1111018300101700000
                  ...
2134592            1.12601e+18
2134593            1.12601e+18
2134594            1.12601e+18
2134595            1.12601e+18
2134596            1.12601e+18
2134597            1.12601e+18
2134605            1.12601e+18
2134607            1.12601e+18
2134608            1.12601e+18
2134623            1.17101e+18
2134624            1.12601e+18
2134629            1.12901e+18
2134633            1.12901e+18
2134639            1.13501e+18
2134640            1.13501e+18
2134645            1.15901e+18
2134656            1.13501e+18
2134663            1.17401e+18
2134678            1.13501e+18
2134679            1.13501e+18
2134690            1.14101e+18
2134691            1.14101e+18
2134713            1.13801e+18
2134719            1.13201e+18
2134724            1.13201e+18
2134725            1.11102e+18
2134749            1.16201e+18
2134750            1.16501e+18
2134757            1.13051e+18
2134784            1.15451e+18
Name: 지번코드, Length: 442175, dtype: object

In [43]:
f2 = f.drop(columns=['실거래가아이디','시군구코드','자치구명','법정동명','업무구분코드','신고일자','계약일자','물건구분코드','물건번호','관리구분코드','관리구분','건물주용도코드','최초접수일'])

In [42]:
f2

,지번코드,법정동코드,업무구분,계약 종료일,물건구분,대지권면적,건물면적,층정보,건물주용도,물건금액
0,NaN,1111018000,신고,20060228.0,단독주택,33.1000,16.73,NaN,단독주택,250000000
1,1111013300100300006,1111013300,신고,20060210.0,공동주택,16.2500,84.26,14.0,아파트,231984000
2,1111013700102120000,1111013700,신고,20060118.0,기타,6.7600,28.69,6.0,연수원,97000000
3,1111017000100780033,1111017000,신고,20060120.0,공동주택,20.2100,37.29,1.0,다세대주택,120000000
4,1111018300102930052,1111018300,신고,20060210.0,공동주택,26.0460,53.20,4.0,다세대주택,160000000
5,1111017000100050108,1111017000,신고,20060215.0,공동주택,21.1600,54.22,1.0,다세대주택,80000000
6,1111012400100580000,1111012400,신고,20060210.0,기타,6.8300,35.22,9.0,연수원,135000000
7,1111013300100300006,1111013300,신고,20060218.0,공동주택,15.0800,78.23,15.0,아파트,215352000
8,1111013300100300006,1111013300,신고,20060208.0,공동주택,16.2500,84.26,6.0,아파트,231984000
9,1111018100102100338,1111018100,신고,20060215.0,공동주택,20.2400,59.75,1.0,다세대주택,90000000
10,1111011800100750000,1111011800,신고,20060127.0,기타,5.5300,37.56,15.0,연수원,160000000
11,1111011800100750000,1111011800,신고,20060131.0,기타,5.2300,42.39,10.0,연수원,145000000
12,NaN,1111016900,신고,20060131.0,단독주택,155.4000,224.79,NaN,단독주택,710000000
13,1111018700100820000,1111018700,신고,20060228.0,공동주택,45.5100,84.92,20.0,아파트,425000000
14,1111011800100740000,1111011800,신고,20060201.0,기타,5.4300,32.01,14.0,연수원,103000000
15,1111011800100740000,1111011800,신고,20060215.0,기타,9.6000,56.56,8.0,연수원,280000000
16,NaN,1111017700,신고,20060302.0,단독주택,56.2000,19.83,NaN,단독주택,395000000
17,1111010900100670000,1111010900,신고,20060204.0,공동주택,29.1300,71.80,4.0,다세대주택,170000000
18,1111010900101220001,1111010900,신고,20060219.0,공동주택,7.7000,59.60,3.0,다세대주택,105000000
19,1111018600102540000,1111018600,신고,20060328.0,공동주택,25.5400,59.22,9.0,아파트,160000000
20,1111011800100750000,1111011800,신고,20060203.0,기타,5.1200,37.56,14.0,연수원,138160000
21,1111018300101760000,1111018300,신고,20060417.0,공동주택,105.1200,84.96,3.0,연립주택,275000000
22,1111013400100890004,1111013400,신고,20060126.0,기타,8.5900,34.47,6.0,연수원,147000000
23,1111017400107030000,1111017400,신고,20060215.0,공동주택,42.7039,79.87,12.0,아파트,192000000
24,NaN,1111016700,신고,20060304.0,단독주택,79.3000,42.98,NaN,단독주택,216000000
25,1111017500107160000,1111017500,신고,20060219.0,공동주택,28.0000,60.15,4.0,다세대주택,112500000
26,1111014900101350051,1111014900,신고,20060317.0,공동주택,39.4000,82.48,3.0,다세대주택,225000000
27,1111018700100820000,1111018700,신고,20060224.0,공동주택,34.9300,60.00,3.0,아파트,240000000
28,1111017500100760000,1111017500,신고,20060221.0,기타,6.1900,39.60,4.0,연수원,120000000
29,1111018300101700000,1111018300,신고,20060224.0,공동주택,106.8300,84.95,3.0,연립주택,203000000
...,...,...,...,...,...,...,...,...,...,...
2134760,1.11101e+18,1111011800,신고,20190131.0,기타,10.3500,56.48,7.0,오피스텔,469286475
2134761,1.11101e+18,1111011800,신고,20190131.0,기타,14.4000,71.01,10.0,오피스텔,549993291
2134762,NaN,1126010300,신고,20190430.0,단독주택,103.8000,63.96,NaN,단독주택,500000000
2134763,NaN,1132010700,신고,20190402.0,단독주택,164.3000,158.22,NaN,다가구주택,900000000
2134764,NaN,1168011400,신고,20190410.0,단독주택,203.8000,257.31,NaN,다가구주택,2300000000
2134765,NaN,1156013300,신고,20190320.0,단독주택,224.1000,327.96,NaN,단독주택,1360000000
2134766,NaN,1111016800,신고,20190110.0,단독주택,79.3000,69.26,NaN,단독주택,671758000
2134767,NaN,1159010500,신고,20190415.0,단독주택,93.0000,110.23,NaN,다가구주택,1000000000
2134768,NaN,1162010100,신고,20190415.0,단독주택,178.0000,368.83,NaN,다가구주택,1076900000
2134769,NaN,1154510300,신고,20190430.0,단독주택,225.7000,418.86,NaN,다가구주택,1080000000
2134770,NaN,1154510200,신고,20190415.0,단독주택,168.0000,129.58,NaN,단독주택,500000000
2134771,NaN,1156013200,신고,20190228.0,단독주택,119.0000,251.84,NaN,단독주택,1500000000
2134772,NaN,1159010200,신고,20190226.0,단독주택,185.0000,405.84,NaN,단독주택,1300000000
2134773,NaN,1130510100,신고,20190328.0,단독주택,30.0000,25.92,NaN,단독주택,240000000
2134774,NaN,1111017500,신고,20190415.0,단독주택,76.0000,52.89,NaN,단독주택,309000000
2134775,NaN,1114017100,신고,20190329.0,단독주택,33.1000,58.08,NaN,단독주택,295500000
2134776,NaN,1165011100,신고,20190228.0,단독주택,371.0000,152.10,NaN,단독주택,2375800000
2134777,NaN,1154510300,신고,20190830.0,단독주택,136.7000,184.41,NaN,단독주택,735000000
2134778,1.15451e+18,1154510300,신고,20190530.0,공동주택,40.9900,81.95,2.0,아파트,282500000
2134779,NaN,1114015000,신고,20190430.0,단독주택,77.1000,52.89,NaN,단독주택,1600000000
2134780,NaN,1171011300,신고,20190731.0,단독주택,82.5000,140.46,NaN,다가구주택,730000000
2134781,NaN,1144010100,신고,20190430.0,단독주택,142.1000,236.07,NaN,단독주택,1650000000
2134782,NaN,1132010800,신고,20190625.0,단독주택,155.0000,49.92,NaN,단독주택,520000000
2134783,NaN,1114016500,신고,20190807.0,단독주택,172.0000,391.74,NaN,단독주택,1500000000
2134784,1.15451e+18,1154510100,신고,20190510.0,공동주택,37.7860,50.41,2.0,아파트,155000000
2134785,NaN,1171010600,신고,20190730.0,단독주택,250.4000,539.87,NaN,다가구주택,2500000000
2134786,NaN,1129010100,신고,20190729.0,단독주택,542.0000,142.71,NaN,단독주택,2000000000
2134787,NaN,1156013200,신고,20190418.0,단독주택,79.0000,126.57,NaN,단독주택,410000000
2134788,NaN,1156013300,신고,20190422.0,단독주택,109.0000,128.27,NaN,다가구주택,527000000
2134789,1.12601e+18,1126010600,신고,20190612.0,공동주택,22.8300,59.40,23.0,아파트,277000000

In [ ]:
apart = f2[{''}]

In [37]:
apart = pd.DataFrame({
                    '지번코드' : ff['지번코드'],
                    '법정동코드' : ff['법정동코드'],
                    '법정동명' : ff['법정동명'],
                    '계약종료일' : ff['계약 종료일'],
                    '물건구분' : ff['물건구분'],
                    '대지권면적' : ff['대지권면적'],
                    '건물면적' : ff['건물면적'],
                    '층정보' : ff['층정보'],
                    '건물주용도' : ff['건물주용도'],
                    '물건금액' : ff['물건금액']
                    }).reset_index()

KeyboardInterrupt:

In [ ]:
apart